footer 
{
    background-color: $black;
    color: #fff;
    height: 220px;
    padding: 0.5rem 6rem;
}

.footer-countries
{
    .list-unstyled
    {
        margin-left: 14%;
        a 
        {
            color: #A91E1E !important;
        }
        
    }
    
    
}
