.inline-form input {
    display: inline-block;
    width: 100px;
}

.navbar {
    padding: 0.5rem 6rem;
    font-size: 16px;
    a:active {
        color: white !important;
    }
}
.navbar-dark .navbar-nav .nav-link:active {
    color: white !important;
}

.bg-dark {
    background-color: $black !important;
}

.searchTab {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: 0 0;
}

input[type=search] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    // width: 100%;
    display: block;
}

.navbar-dark 
{
    .navbar-nav
    {
        .best-mark:hover
        {
            color: white important;
        }
    }
} 

.complete
{
    background-color: white;
    z-index: 4;
    position: absolute;
    right: 193px;
    padding: 1%;
    border-radius: 3%;
    ul
    {
        padding: 0;
        li
            {
                list-style-type: none;
            }
        }
}
